<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="top-title">방만들기</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row justify-content-center style="padding-top:7%; height:8%; margin-top:12px;">
    <ion-col col-3 >
        <p align="center" class="max-people">출발지</p>
    </ion-col>
    <ion-col col-3 >
      <div class="swap_button">
        <button ion-button full large clear no-padding (click)="swapPlace()"></button>
      </div>
    </ion-col>
    <ion-col col-3 >
      <p align="center" class="max-people">도착지</p>
    </ion-col>
  </ion-row>

  <div class="bottomRow">
  <ion-row just-content-center>
    <ion-col col-4.5 justify-content-center>
      <ion-item text-wrap no-lines>
        <ion-select text-wrap class="my-select" [(ngModel)]="selectDeparture.key" interface="popover" *ngIf="selectDeparture.key!='직접입력'">
          <ion-option text-wrap *ngFor="let spot of spotList" value={{spot}}>{{spot}}</ion-option>
        </ion-select>
        <ion-input class="my-input" style="position:absolute" *ngIf="selectDeparture.key=='직접입력'" [(ngModel)]="selectDeparture.value" type="text" placeholder="기타장소"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-1 >
      <button ion-button no-padding clear round class="my-btn" (click)="setDepartureDefault()" *ngIf="selectDeparture.key=='직접입력'"></button>
    </ion-col>
    
    <ion-col col-1 >
      <ion-icon class="arrowIcon" ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
    </ion-col>
    
    <ion-col col-4.5 justify-content-center>
      <ion-item text-wrap no-lines>
        <ion-select text-wrap class="my-select" [(ngModel)]="selectDestination.key" interface="popover" *ngIf="selectDestination.key!='직접입력'">
          <ion-option text-wrap *ngFor="let spot of spotList" value={{spot}}>{{spot}}</ion-option>
        </ion-select>
        <ion-input class="my-input" style="position:absolute" *ngIf="selectDestination.key=='직접입력'" [(ngModel)]="selectDestination.value" type="text" placeholder="기타장소"></ion-input> 
      </ion-item>    
    </ion-col>
    <ion-col col-1>
        <button ion-button no-padding clear round class="my-btn" (click)="setDestinationDefault()" *ngIf="selectDestination.key=='직접입력'"></button>
      </ion-col>
  </ion-row>
  </div>
  
  <ion-row justify-content-center style="padding-top:7%; height:8%; margin-top:0px;">
    <p class="max-people">출발날짜</p>
  </ion-row>

  <div class="bottomRow">
  <ion-row justify-content-center>
    <ion-datetime padding class="my-date" displayFormat="YYYY년 M월 D일 ({{today}})" pickerFormat="YYYY-MM-DD" min={{min}} max={{max}} 
                  placeholder={{nowDate}} [(ngModel)]="bookingDate"></ion-datetime>   
  </ion-row>
  </div>
  
  <ion-row justify-content-center style="padding-top:7%; height:8%; margin-top:0px;">
    <p class="max-people">출발시간</p>
  </ion-row>

  <div class="bottomRow">
    <ion-row justify-content-center>
      <!-- 지금 여기 밑에 placeholder가 제대로 작동하지 않는다. 이상하게 9시간의 시차 차이가 난다 -->
      <!-- displayFormat 과 default 값을 바꾸어 주어 시간 이상한거 해결 -->
      <ion-datetime padding class="my-time"  displayFormat="HH:mm" pickerFomat="HH mm" placeholder={{nowTime}} [(ngModel)]="bookingTime"></ion-datetime>
    </ion-row>
  </div>

  <ion-row justify-content-center style="padding-top:7%; height:8%; margin-top:0px;">
    <p class="max-people">최대탑승인원</p>
  </ion-row>

  <div class="bottomRow">
    <ion-row justify-content-center>
      <!-- <div class="cc-selector">
        <ion-list radio-group [(ngModel)]="maxPeople">
          <ion-radio value=2>
            <ion-label class="drinkcard-cc twoButton" for="twoButton"></label>
          </ion-radio>
          <ion-radio value=3>
            <ion-label class="drinkcard-cc threeButton"for="threeButton"></label>
          </ion-radio>
          <ion-radio value=2>
            <ion-label class="drinkcard-cc fourButton" for="fourButton"></label>
          </ion-radio>
        </ion-list>
      </div> -->
      
      <form>
        <div class="cc-selector">
          <input id="twoButton" type="radio" name="credit-card" value=2 [(ngModel)]="maxPeople"/>
          <label class="drinkcard-cc twoButton" for="twoButton"></label>
          
          <input id="threeButton" type="radio" name="credit-card" value=3 [(ngModel)]="maxPeople"/>
          <label class="drinkcard-cc threeButton"for="threeButton"></label>

          <input id="fourButton" type="radio" name="credit-card" value=4 checked [(ngModel)]="maxPeople"/>
          <label class="drinkcard-cc fourButton" for="fourButton"></label>
        </div>
      </form>
    </ion-row>
  </div>
  
  <div class="room_button">          
    <button style="margin-top:15%" class="button customBtn" ion-button round (click)="makeRoom()" >방 만들기</button>
  </div>

</ion-content>
