page-make-room {
  .item-cover {
    height: 0;
    width: 0;
  }

  $back-font: color($colors, semi-gray, base);
  $front-font: color($colors, primary, base);
  font-family: "Noto Sans", "Noto Sans CJK KR";

  .wrapper {
    border-bottom-left-radius: 6px 8px;
    border-bottom-right-radius: 6px 8px;
    border-bottom: 2px solid #C9C9CA;

    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;

    ion-row {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
    }

    .label {
      color: $back-font;
    }

    .cont {
      // font-family: "OpenSans-2";
      font-family: "Noto Sans", "Noto Sans CJK KR";
      color: $front-font;
    }
  }

  #dest {
    ion-row {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #dest_sel {
        padding-right: 20px;
      }

      .arrow-icon {
        color: $front-font;
        font-size: 30px;
      }

      ion-select {
        max-width: none;
      }
    }
  }

  #date {
    ion-datetime {
      font-size: 22px;
    }
  }

  #time {
    ion-datetime {
      font-size: 30px;
    }
  }
  
  #taxi {
    .nMaxPeople {
      filter: brightness(1.8) grayscale(1) opacity(.7);

      &:hover {
        filter: brightness(1.2) grayscale(.5) opacity(.9);
      }
    }
  }

  #carpool {
    ion-row {
      span {
        text-align: center;
      }

      input {
        border: 0;
        text-align: center;
        font-size: 30px;
      }
      #people{
        width: 30%;
      }
      #money{
        width: 70%;
      }

      &:last-child {
        span {
          font-size: 30px;
        }
      }
    }
  }

  #carrier {
    text-align: center;

    .carrier-number {
      filter: brightness(1.8) grayscale(1) opacity(.7);

      &:hover {
        filter: brightness(1.2) grayscale(.5) opacity(.9);
      }
    }
    img {
      height: 40px;
      justify-content: center;
    }
  }
  
  #room-btn {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
}
