<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="top-title">방만들기</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row class="top-row" justify-content-center>
    
    <ion-col col-4.5 justify-content-center>
        <p class="departure-label">출발지</p>
    </ion-col>
    
    <ion-col col-1></ion-col>
    
    <ion-col col-auto>  
      <div class="swap-btn">
        <button ion-button full large clear no-padding (click)="swapPlace()"></button>
      </div>
    </ion-col>
    
    <ion-col col-1></ion-col>
    
    <ion-col col-4.5>
      <p align="center" class="destination-label">도착지</p>
    </ion-col>

  </ion-row>

  <div class="row-bottom">
    <ion-row just-content-center>
      
      <ion-col col-4.5 justify-content-center>
        <ion-item no-lines> 
          <ion-select class="my-select" [(ngModel)]="selectDeparture.key" interface="popover" *ngIf="selectDeparture.key!='직접입력'">
            <ion-option *ngFor="let spot of spotList" value={{spot}}>{{spot}}</ion-option>
          </ion-select>
          <ion-input text-center class="my-input" *ngIf="selectDeparture.key=='직접입력'" [(ngModel)]="selectDeparture.value" type="text" placeholder="기타장소"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-1>
        <button ion-button no-padding clear round class="default-btn" (click)="setDepartureDefault()" *ngIf="selectDeparture.key=='직접입력'"></button>
      </ion-col>
      
      <ion-col col-auto >
        <ion-icon class="arrow-icon" ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
      </ion-col>
      
      <ion-col col-4.5 justify-content-center>
        <ion-item no-lines>
          <ion-select class="my-select" [(ngModel)]="selectDestination.key" interface="popover" *ngIf="selectDestination.key!='직접입력'">
            <ion-option *ngFor="let spot of spotList" value={{spot}}>{{spot}}</ion-option>
          </ion-select>
          <ion-input text-center class="my-input" *ngIf="selectDestination.key=='직접입력'" [(ngModel)]="selectDestination.value" type="text" placeholder="기타장소"></ion-input> 
        </ion-item>    
      </ion-col>
      
      <ion-col col-1>
          <button ion-button no-padding clear round class="default-btn" (click)="setDestinationDefault()" *ngIf="selectDestination.key=='직접입력'"></button>
      </ion-col>

    </ion-row>
  </div>
  
  <ion-row class="label-row" justify-content-center>
    <p class="title-label">출발날짜</p>
  </ion-row>

  <div class="row-bottom">
    <ion-row justify-content-center>
      <ion-datetime padding class="my-date" displayFormat="YYYY년 M월 D일 ({{dateServices.getKToday(bookingDate)}})" pickerFormat="YYYY-MM-DD" min={{min}} max={{max}} 
                    placeholder={{nowDate}} [(ngModel)]="bookingDate" (ngModelChange)="dateServices.getKToday()"></ion-datetime>   
    </ion-row>
  </div>
  
  <ion-row class="label-row" justify-content-center>
    <p class="title-label">출발시간</p>
  </ion-row>

  <div class="row-bottom">
    <ion-row justify-content-center>
      <!-- 지금 여기 밑에 placeholder가 제대로 작동하지 않는다. 이상하게 9시간의 시차 차이가 난다 -->
      <!-- displayFormat 과 default 값을 바꾸어 주어 시간 이상한거 해결 -->
      <ion-datetime padding class="my-time"  displayFormat="HH:mm" pickerFomat="HH mm" placeholder={{nowTime}} [(ngModel)]="bookingTime"></ion-datetime>
    </ion-row>
  </div>

  <ion-row class="label-row" justify-content-center>
    <p class="title-label">최대탑승인원</p>
  </ion-row>

  <div class="row-bottom">
    <ion-row justify-content-center>
      
      <form>
        <div class="cc-selector">
          <input id="twoButton" type="radio" name="max-People" value="2" [(ngModel)]="maxPeople">
          <label class="maxPeople-cc twoButton" for="twoButton"></label>

          <input id="threeButton" type="radio" name="max-People" value="3" [(ngModel)]="maxPeople">
          <label class="maxPeople-cc threeButton"for="threeButton"></label>

          <input id="fourButton" type="radio" name="max-People" value="4" [(ngModel)]="maxPeople">
          <label class="maxPeople-cc fourButton" for="fourButton"></label>
        </div>
      </form>
      
    </ion-row>
  </div>
  
  <div class="room-btn-align">          
    <button class="room-btn" ion-button round (click)="makeRoom()" >방만들기</button>
  </div>

</ion-content>
