@font-face {
  font-family: MyFont;
  src: url("../assets/font/SourceHanSansK-Regular.otf");
}

@font-face {
  font-family: DateFont;
  src: url("../assets/font/SourceHanSansK-Medium.otf");
}

page-make-room{
  
  .top-title{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'MyFont' !important;
  }
  .depart-place{
    position: relative;
    font-size : 15px;
    color : #9F9FA0;
    font-family: 'MyFont' !important;
    text-align: center;

  }
  .arrive-place{
    position: relative;
    font-size : 15px;
    color : #9F9FA0;
    font-family: 'MyFont' !important;
    text-align: center;
  }
  .main-title{
    position: relative;
    padding-top:10px; 
    height:50px; 
    margin-top:12px;
    margin-bottom: 2px;
  }

  .label-title{
    position: relative;
    padding-top:10px; 
    height:50px; 
    margin-top:0px;
  }

  .room_button{
    text-align: center;
  }
  .swap-btn{
    position: relative !important;
    background-image: url("../assets/img/swap.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0px;
    width:65px;
    height:50px;
    text-align: center;
    align-self: center;
  }
  .swap_button{
    position: relative !important;
    background-image: url("../assets/img/swap.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0px;
    width:60px;
    height:50px;
    padding: 0;
    text-align: center;
    align-self: center;

  }
  
  .button.customBtn{
    width : 160px;
    font-size : 18px;
    font-family: 'MyFont' !important;
    background-color: #3C89C9;
    margin-top : 50px;
  }
  .my-arrow{
    text-align: center;
    color:#3C89C9;
    margin-left: 7px;
    padding-top: 10px;
    //margin-top: 10px;
    font-size: 30px;
  }

  .arrowIcon{
    text-align: center;
    color:#3C89C9;
    margin-left: 7px;
    padding-top: 10px;
    //margin-top: 10px;
    font-size: 30px;
  }
  .resetBtn{
    background-image: url("../assets/img/reset.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .custom-alrt{
    text-align: center;
    font-family: 'MyFont' !important;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .max-people{
    font-size : 15px;
    color : #9F9FA0;
    font-family: 'MyFont' !important;
    text-align: center;
  }

  .depart-label{
    font-size : 15px;
    color : #9F9FA0;
    font-family: 'MyFont' !important;
    text-align: right;
    margin-right: 0px;
    padding: 0;
  }
  
  .arrive-label{
    font-size : 15px;
    color : #9F9FA0;
    font-family: 'MyFont' !important;
    text-align: left;
    margin-left: 0px;
    padding: 0;
  }

  .bottomRow{
    position: relative;
    border-bottom: 1px;
    //color: #9F9FA0;
    border-bottom-color: #C9C9CA;
    border-bottom-style: inset;
    border-bottom-left-radius: 6px 8px;
    border-bottom-right-radius: 6px 8px;
    margin : 0px 30px;
  }

  .item-inner, ion-item {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    
  }
  .my-select{
    max-width: 100% !important;
    min-width: 100% !important;
    font-size: 18px;
    font-family: 'MyFont' !important;
    position: absolute;
    color: #3C89C9;
    padding: 0 0 0 0;
    //text-align: center;
    text-align: center !important;
    white-space: normal !important;  
  }
  .my-select-right{
    max-width: 100% !important;
    min-width: 100% !important;
    font-size: 18px;
    font-family: 'MyFont' !important;
    position: absolute;
    color: #3C89C9;
    padding: 0 0 0 0;
    //text-align: center;
    text-align: center !important;
    white-space: normal !important;  
  }

  .select-icon{
    visibility: hidden;
  }

  .input[type=radio]{
    visibility: hidden;
  }

  .my-input{
    max-width: 100% !important;
    min-width: 100% !important;
    font-size: 18px;
    font-family: 'MyFont' !important;
    position: absolute;
    color: #3C89C9;
    padding: 0 0 0 0;
    margin: 0 0 0 0; 
    text-align: center;
    white-space: normal !important;  
  }
  .btn{
    position: absolute;
  }
  .my-btn{
    background-image: url("../assets/img/reset.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width:18px;
    height:18px;
    margin-top: 13px;
    position: absolute;
  }

  .my-date{
    font-size: 22px;
    font-family: 'DateFont' !important;
    color: #3C89C9;
  }

  .my-time{
    font-size: 30px;
    margin-top: -5px;
    font-family: 'DateFont' !important;
    color: #3C89C9;
  }
  
  .cc-selector input{
    margin:0;padding:5px;
      -webkit-appearance:none;
      -moz-appearance:none;      
      -ms-appearance:none;
      -o-appearance:none;
        appearance:none;
  }
  .twoButton{background-image:url("../assets/img/max_2.png");}
  .threeButton{background-image:url("../assets/img/max_3.png");}
  .fourButton{background-image:url("../assets/img/max_4.png");}

  .cc-selector input:active +.maxPeople-cc{opacity: .9;}
  .cc-selector input:checked +.maxPeople-cc{
    -webkit-filter: none;
      -moz-filter: none;
            filter: none;
  }
  .maxPeople-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    margin-top:15px;
    display:inline-block;
    width:65px;height:55px;
    -webkit-transition: all 100ms ease-in;
      -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
      -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
  }
  .maxPeople-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
      -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
  }
}