<ion-header>
  <ion-navbar color="primary">
    <ion-title>Signin (로그인)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <img src="assets/img/logo.png" align="center"/>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label>Hisnet ID</ion-label>
      <ion-input formControlName="id" type="text" placeholder="Your hisnet ID"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Hisnet PW</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your hisnet password"></ion-input>
    </ion-item>
    <button ion-button full medium round type="submit" color="secondary" [disabled]="!loginForm.valid">
      Signin (로그인) </button>
  </form>
<!--공부용으로 남겨둡니다.
   <ion-input formControlName="password" type="password" placeholder="Your hisnet password"
      [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
  </ion-input>
  <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
    <p>비밀번호는 6자 이상의 영문자이어야합니다.</p>
  </ion-item>
    
  <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
    <p>사용가능한 이메일주소를 입력하세요.</p>
  </ion-item>
    

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-6>
        <button ion-button medium round color="tertiary" outline (click)="signUp()"> 회원가입 </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button medium round color="tertiary" outline (click)="password()"> 비밀번호찾기 </button>
      </ion-col>
    </ion-row>
  </ion-grid>
-->
  <!-- <div class="KakaoButton">
    <a id="custom-login-btn" href="javascript:loginWithKakao()">
      <img src="http://mud-kage.kakao.com/14/dn/btqbjxsO6vP/KPiGpdnsubSq3a0PHEGUK1/o.jpg" width="300"/>
    </a>
  </div> -->
</ion-content>