page-login {
    .logo {
      display: block;
      margin: auto;
      padding-top: 120px;
    }
    form {
        //margin-bottom: 32px;
        margin: 40px 20px 0px 20px;
        ion-item{
          padding-left: 10px !important;
        }
        button {
          display: block;
          margin-top: 30px !important;
        }
    }
    p{
        font-size: 0.8em;
        color: #d2d2d2;
    }
    ion-label {
        margin-left: 5px;
        color: secondary;
    }
    ion-input {
      padding: 5px;
    }
    .invalid {
        border-bottom: 1px solid #FF6153;
    }
    .error-message .item-inner {
        border-bottom: 0 !important;
    }
    ion-grid{
      display: table;
      padding: 0px 16px !important;
      ion-col{
        padding: 0px;
      }
      button {
        font-size: 1.3rem !important;
        background-color: #f7f7f7 !important;
        display: table-cell;
        width: 100%;
      }
    }
}
