@font-face {
  font-family: 'NanumSquare';
  src: 
    url('../../assets/font/NanumSquareRoundB.ttf') format('truetype'),
    url('../../assets/font/NanumSquareRoundOTFB.otf') format('opentype');
}

@mixin menuCard ($color) {
  background-color: $color;
  border-radius: 2vw;
  height: 80vw;
  font-size: 9vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4vw 0.4vw 0 darken($color, 10%);
}

page-main {
  $ticket_bgColor : #efefef;
  $fontColor : #29B5EF;
  font-family: 'NanumSquare';

  // .large_button {
  //   line-height: 100vh !important;
  //   width:100%;
  // }
  // .customBtn{
  //   width:70%;
  // }
  .menu {
    margin: 1vw 2vw;
    color: white;
    font-weight: 500;
    cursor: pointer;
    
    #taxi {
      @include menuCard(#3C89C9);

      img {
        width: 15vw;
        margin-top: 10vw;
        margin-bottom: 16vw;
      }

      span {
        margin-left: 4vw;
      }
    }

    #cpool {
      @include menuCard(#29B5EF);
      align-items: flex-end;

      img {
        width: 15vw;
        margin-top: 20vw;
      }

      span {
        margin-right: 4vw;

        &:first-child {
          margin-top: 10vw;
        }
      }
    }

    // button {
    //   border-radius: 10px;
    //   height: 30rem;
    //   font-size: 8vw;
    // }
    // .taxi {
    //   background-image: url("assets/img/main_taxi.png");
    // }
    // .buttonImg{
    //   display: inline-block;
    // }
    // div{
    //   display: inline-block;
    // }
  }

  .ticketLabel {
    margin-top: 2vw;
    float: right;
    //padding: 5px;
    margin: 4vw 6vw 2vw 6vw;
    color: $fontColor;
    font-size: 4vw;
  }

  .ticket{
    border-radius: 1vw;
    margin-top: 6vw;
    background-color: $ticket_bgColor;
    color: $fontColor;

    ion-row {
      padding: 2vw 0;
    }

    ion-col {
      border-right: 0.2vw solid $fontColor;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 6vw;
      }

      &:first-of-type, &:last-of-type {
        border-right: 0;
      }

      &:nth-of-type(1) ~ ion-col {
        padding: 0 4vw;
      }

      .text {
        font-size: 3.8vw;

        span {
          font-size: 5vw;
        }
      }
    }

  }

  /**
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 55%;
      width: 100%;
      color: #fff;
    }
  }**/
}
