@mixin menuCard ($color) {
  background-color: $color;
  border-radius: 2vw;
  height: 80vw;
  font-size: 9vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4vw 0.4vw 0 darken($color, 10%);
}

page-main {
  $backColor: color($colors, back-gray, base);
  $fontColor : color($colors, secondary, base);
  font-family: "NanumSquare";

  #notice {
    font-size: 13px;
    background-color: $backColor;
    height: 30px;
    cursor: pointer;
  }

  .menu {
    margin: 1vw 2vw;
    color: white;
    font-weight: 500;
    cursor: pointer;
    
    #taxi {
      @include menuCard(color($colors, primary, base));

      img {
        width: 15vw;
        margin-top: 10vw;
        margin-bottom: 16vw;
      }

      span {
        margin-left: 4vw;
      }
    }

    #cpool {
      @include menuCard(color($colors, secondary, base));
      align-items: flex-end;

      img {
        width: 15vw;
        margin-top: 20vw;
      }

      span {
        margin-right: 4vw;

        &:first-child {
          margin-top: 10vw;
        }
      }
    }
  }

  .ticketLabel {
    margin-top: 2vw;
    float: right;
    //padding: 5px;
    margin: 4vw 6vw 2vw 6vw;
    color: $fontColor;
    font-size: 4vw;
  }

  .ticket{
    border-radius: 1vw;
    margin-top: 6vw;
    background-color: $backColor;
    color: $fontColor;
    cursor: pointer;

    ion-row {
      padding: 2vw 0;
    }

    ion-col {
      border-right: 0.2vw solid $fontColor;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 6vw;
      }

      &:first-of-type, &:last-of-type {
        border-right: 0;
      }

      &:nth-of-type(1) ~ ion-col {
        padding: 0 4vw;
      }

      .text {
        font-size: 3.8vw;

        span {
          font-size: 5vw;
        }
      }
    }

  }
}
