<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>i-Taxi</ion-title>
  </ion-navbar>

  <button ion-item color="light2" style="font-size: 1.3rem" (click)="openTaxiList()">
    <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
    공지사항입니다. 공지사항입니다.
  </button>
  <!--
  <ion-card (click)="openTaxiList()">
    <img src="../../assets/imgs/taxi.png"/>
    <div class="card-title">i-Taxi</div>
    <div class="card-subtitle">타러가기</div>
  </ion-card>
  <ion-card (click)="openTaxiList()">
    <img src="../../assets/imgs/taxi.png"/>
    <div class="card-title">i-Taxi</div>
    <div class="card-subtitle">타러가기</div>
  </ion-card> -->
  <div class="menu">
    <ion-row>
      <ion-col col-6>
        <button class="taxi" ion-button large full (click)="setPage('TaxiListPage')" >
            <!-- <img class="buttonImg" src="assets/imgs/whiteTaxi.png" alt="taxi"> -->
          <!-- <ion-row> -->
            아이택시<br />
            탑승
          <!-- </ion-row> -->
        </button>
      </ion-col>
      <ion-col col-6 text-right>
        <button ion-button large full color="secondary" text-right (click)="goCarpoolListPage()" >
          카풀<br />
          탑승
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-header>

<ion-content>
    <!--
  round button
    <ion-grid>
      <ion-row justify-content-center style="padding: 10px 0; margin-top: 25px">
        <button ion-button round class="customBtn" icon-left (click)="goTaxiListPage()" >
          i-Taxi 탑승
        </button>
      </ion-row>
      <ion-row justify-content-center style="padding: 10px 0">
        <button ion-button round class="customBtn" color="secondary" icon-left (click)="goCarpoolListPage()">
          카풀 탑승
        </button>
      </ion-row>
      <ion-row justify-content-center style="padding: 10px 0">
        <button ion-button round class="customBtn" color="tertiary" icon-left (click)="goMyPage()" >
          마이페이지
        </button>
      </ion-row>
    </ion-grid>
  -->
  <div class="ticketLabel">
    <ion-icon color ="secondary" name="person"></ion-icon>
    탑승예정
  </div>

  <!-- my Ticket -->
  <!-- <div *ngFor="let dates of dates_array">
    <ion-card style="border-radius:5px; margin-top:30px" *ngFor="let date of dates | DatePipe">
      <ion-row style="background-color:#0054a6; color:white; padding:5px 0 5px 15px">
        {{date.roomDate}}
      </ion-row>
      <ion-row>
        <ion-col col-4 text-center style="border-right: 1px solid #ddd9d9">
          <h3>Taxi</h3>
          <p style="font-size: 9px">현 {{date.roomParticipants.length}}/{{date.roomCapacity}} 명</p>
        </ion-col>
        <ion-col text-center>
          <h3>{{date.roomDepart}} <ion-icon name="arrow-forward"></ion-icon>{{date.roomDest}}</h3>
          <p padding-left style="font-size: 10px">{{date.roomTime}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div> -->

  <div *ngFor="let dates of dates_array">
    <ion-card class = "ticket" *ngFor="let date of dates | DatePipe">
      <ion-row>
        <ion-col col-2 style="padding:0px; border:0">
          <img src="assets/imgs/blueTaxi.png" alt="taxi">
        </ion-col>

        <ion-col col-3 text-left>
          <div class="text">
            {{date.roomDate}}
            <!-- 12.30 토요일 -->
          </div>
          <div style="font-size: 2rem">
            {{date.roomTime}}
            <!-- 16:00 -->
          </div>
        </ion-col>


        <ion-col col-5 style="padding-left:25px">
          <div class="text">
            {{date.roomDepart}}
          </div>
          <div class="text2">
            <ion-icon name="arrow-forward"></ion-icon>&nbsp;&nbsp;{{date.roomDest}}
          </div>
        </ion-col>

        <ion-col col-2 text-center style="border:0">
          <div class="text">
            택시
          </div>
          <div class="text2">
            {{date.roomParticipants.length}}/{{date.roomCapacity}}
          </div>
        </ion-col>

      </ion-row>
    </ion-card>
  </div>



  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
