<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class = "top-title">택시조회</ion-title>
  </ion-navbar>

  <ion-grid class="small-table">
    <ion-row>
        <ion-col col-5>
          <ion-grid>
            <ion-row class = "rowUnderline">
              <ion-col col-11>
                <ion-item class="selectWrapper">
                  <ion-select #newSelect [(ngModel)]="departFilter" interface="popover" placeholder="전체보기" (ionChange)="filterDeparture(departFilter)">
                    <ion-option value="All" checked="true">전체보기</ion-option>
                    <ion-option *ngFor="let spot of spotList" value={{spot}}>{{spot}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-1> 
                <p class = "selectIcon">▼</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col col-2 class = "rightArrow">  
          <ion-icon name="arrow-round-forward"></ion-icon>
        </ion-col>

        <ion-col col-5>
          <ion-grid>
            <ion-row class = "rowUnderline">
              <ion-col col-11>
                <ion-item class="selectWrapper">
                  <ion-select [selectOptions]="destinationOptions" [(ngModel)]="destinationFilter" placeholder="전체보기" interface="popover" (ionChange)="filterDestination(destinationFilter)">
                    <ion-option value="All" checked="true">전체보기</ion-option>
                    <ion-option *ngFor="let spot of spotList" value={{spot}}>{{spot}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-1> 
                <p class = "selectIcon">▼</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>  
    </ion-row>

    <ion-row>
      <ion-col col-2 *ngFor="let day of days" class="pointer">
        <ion-item class="days" (click)="showChatroom(day)">
          <p>{{day|date: "dd"}}</p>
        </ion-item>
      </ion-col>
      <ion-col col-2 class="pointer">
        <ion-item class="days_icon" (click)="showCalendar()" >
          <p> + </p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div>
    <ion-grid class="mainGrid">
      <ion-item-group>
        <ion-item-divider *ngFor="let date of dates | async" (click)="goChatroom(date)" class="line"
        [ngClass]="{full: date.participants.length >= date.capacity, exist: isExist(date.participants)}">
          <ion-row>
            <ion-col col-3>
              <p>{{date.depart_date}}</p>
              <p>{{date.depart_time}}</p>
            </ion-col>
            <ion-col col-7>
              <p>{{date.departure}}</p>
              <p>>{{date.destination}}</p>
            </ion-col>
            <ion-col col-2>
              <p>{{date.participants.length}} / {{date.capacity}}</p>
              <p>참여 {{ date.participants.length >= date.capacity ? "불가" : "가능" }}</p>
            </ion-col>
          </ion-row>
        </ion-item-divider>
      </ion-item-group>
    </ion-grid>
  </div>

  <ion-fab right bottom>
    <button color="dark" ion-fab (click)="makeRoom()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
