page-taxi-list {
  ion-fab {
    margin-bottom: 2px;
    margin-right: 15px;
  }

  ion-select {
    max-width: none;
  }

  .days {
    text-align: center;
  }

  .small-table {
    background-color: #947794;
  }

  .pointer {
    cursor: pointer;
  }

  .labels{
    color: gray;
    font-size: 12px;
    height: 14px;
  }

  .formRound{
    border-radius: 5px;
    border: 1px;
  }

  .rightArrow {
    text-align: center;
    color: white;
  }

  .mainGrid {
    padding: 0;
  }

  .line {
    background-color: white;

    p {
      color: black;
    }
  }

  .full {
    background-color: #f4f4f4;
  }

  .exist {
    background-color: #bb9497;
  }
}
