<ion-header>
  <ion-navbar color="primary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class = "top-title">{{ transportType == 'taxi' ? "택시" : "카풀" }}조회</ion-title>
  </ion-navbar>

  <ion-grid class="small-table">
    <ion-row class="small-top">
      <ion-col col-5>
        <ion-item>
          <ion-select #newSelect [(ngModel)]="departOptions" interface="popover" placeholder="전체보기" (ionChange)="filter()">
            <ion-option value="All" checked="true">전체보기</ion-option>
            <ion-option *ngFor="let spot of spotList" value={{spot}}>{{spot}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-2 class="rightArrow">  
        <ion-icon name="md-arrow-round-forward"></ion-icon>
      </ion-col>

      <ion-col col-5>
        <ion-item>
          <ion-select [(ngModel)]="arriveOptions" interface="popover" placeholder="전체보기" (ionChange)="filter()">
            <ion-option value="All" checked="true">전체보기</ion-option>
            <ion-option *ngFor="let spot of spotList" value={{spot}}>{{spot}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>  
    </ion-row>

    <ion-row class="small-bottom">
      <ion-col col-2>
        <ion-item class="days" [ngClass]="{'activate': nowDate == selectedDate }" ion-only (click)="showChatroom(nowDate)" >
          <p>오늘</p>
        </ion-item>
      </ion-col>
      <ion-col col-2 *ngFor="let day of days">
        <ion-item class="days" [ngClass]="{'activate': day == selectedDate }" (click)="showChatroom(day)">
          <p>{{day | date:'dd'}} ({{this.dateServices.getKToday(day)}}) </p>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item class="days_icon" ion-only (click)="showCalendar()" >
          <ion-icon name="add"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div *ngIf="emptyData == true" >
    <img src="assets/img/empty_data.png" class="mainGrid_empty"/>
  </div>
  <div *ngIf="emptyData == false">
    <ion-grid class="mainGrid">
      <ion-item-group *ngFor="let room of rooms | async | roomSort">
        <!-- 현재는 지금 시간 이후이면서 방이 꽉 차지 않는 것만 보이게 해 놨다. -->
        <ion-item-divider *ngIf="room.departDate + room.departTime > nowDate + nowTime " (click)="(!isEntered(room.participants) && !isAvailable(room)) || goChatroom(room)" class="line"
        [ngClass]="{full: room.currentPeople >= room.capacity, exist: isEntered(room.participants)}">
          <ion-row >
            <ion-col col-3>
              <p>{{this.dateServices.getShortDate(room.departDate)}}</p>
              <p>{{room.departTime}}</p>  
            </ion-col>
            <ion-col col-4>
              <p>{{room.depart}}</p>
              <p *ngIf="room.transportType == 'taxi'">> {{room.arrive}}</p>
              <p *ngIf="room.transportType == 'carpool'">> {{room.arrive}} ( {{room.price}}원 )</p>
            </ion-col>
            <ion-col col-1>
              <p><img src="assets/img/carrier-s.png"> </p>
              <p><img src="assets/img/carrier-l.png"> </p>
            </ion-col>
            <ion-col col-2>
              <p>{{room['carrierS']}}개</p>
              <p>{{room['carrierL']}}개</p>
            </ion-col>
            <ion-col col-2>
              <p>{{room.currentPeople}} / {{room.capacity}}</p>
              <p *ngIf="isEntered(room.participants)">참여중</p>
              <p *ngIf="!isEntered(room.participants) && room.currentPeople >= room.capacity">참여불가</p>
            </ion-col>
          </ion-row>
        </ion-item-divider>
      </ion-item-group>
    </ion-grid>
  </div>

  <ion-fab right bottom>
    <button color="dark" ion-fab (click)="makeRoom()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
