<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="top-title">방만들기</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="wrapper" id="dest">
    <ion-row>
      <span col-1></span>
      <span col-3 class="label">출발지</span>
      <span col-4 (click)="swapPlace()"><img src="assets/img/swap.png" alt="swap"></span>
      <span col-3 class="label">도착지</span>
      <span col-1></span>
    </ion-row>
    <ion-row>
      <span col-5 class="cont">
        <ion-select class="my-select" [(ngModel)]="selectDeparture.key" interface="popover" *ngIf="selectDeparture.key!='직접입력'">
          <ion-option *ngFor="let spot of spotList" value={{spot}}>{{spot}}</ion-option>
        </ion-select>
        <span *ngIf="selectDeparture.key=='직접입력'">
          <ion-input col-10 text-center class="my-input" [(ngModel)]="selectDeparture.value" type="text" placeholder="기타장소"></ion-input>
          <img col-2 src="assets/img/reset.png" alt="X" (click)="setDepartureDefault()">
        </span>
      </span>
      <span col-2>
        <ion-icon class="arrow-icon" name="ios-arrow-forward"></ion-icon>
      </span>
      <span col-5 class="cont" id="dest_sel">
        <ion-select class="my-select" [(ngModel)]="selectDestination.key" interface="popover" *ngIf="selectDestination.key!='직접입력'">
          <ion-option *ngFor="let spot of spotList" value={{spot}}>{{spot}}</ion-option>
        </ion-select>
        <span *ngIf="selectDestination.key=='직접입력'">
          <ion-input col-10 text-center class="my-input" [(ngModel)]="selectDestination.value" type="text" placeholder="기타장소"></ion-input>
          <img col-2 src="assets/img/reset.png" alt="X" (click)="setDestinationDefault()">
        </span>
      </span>
    </ion-row>
  </div>

  <div class="wrapper" id="date">
    <ion-row>
      <span class="label">출발날짜</span>
    </ion-row>
    <ion-row class="cont">
        <ion-datetime padding class="my-date" displayFormat="YYYY년 M월 D일 ({{dateServices.getKToday(bookingDate)}})" pickerFormat="YYYY-MM-DD" min={{min}} max={{max}} 
        placeholder={{nowDate}} [(ngModel)]="bookingDate" (ngModelChange)="dateServices.getKToday()"></ion-datetime>
    </ion-row>
  </div>

  <div class="wrapper" id="time">
    <ion-row>
      <span class="label">출발시간</span>
    </ion-row>
    <ion-row>
      <span class="cont">
        <ion-datetime padding class="my-time"  displayFormat="HH:mm" pickerFomat="HH mm" placeholder={{nowTime}} [(ngModel)]="bookingTime"></ion-datetime>
      </span>
    </ion-row>
  </div>

  <div class="wrapper" id="cap">
    <ion-row>
      <span col-6 class="label">최대탑승인원</span>
      <span col-6 class="label">가격</span>
    </ion-row>
    <ion-row>
      <span col-5 class="cont"><input type="number" [(ngModel)]="maxPeople">명</span>
      <span col-1></span>
      <span col-6 class="cont"><input type="number" [(ngModel)]="price">&#8361;</span>
    </ion-row>
  </div>

  <div id="room-btn">
    <button ion-button round (click)="makeRoom()">방만들기</button>
  </div>
</ion-content>
