<ion-header>
  <ion-navbar  color = "primary">
    <ion-title>개인정보 수정</ion-title>
    <ion-buttons right>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!-- 
      현재 이름 바꾸고 설정 변경 누르면 'Cannot read property 'scrollToBottom' of null'가 뜬다.
      백퍼튼 옆의 패딩 scss로 없애는거 해야된다.
-->
<ion-content padding>

    <ion-item>
        <ion-label stacked>StudentID (학번)</ion-label>
        <ion-label >{{userInfo.studentID}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label stacked>Korean Name (한글 이름)</ion-label>
        <ion-label>{{userInfo.korName}}</ion-label>
      </ion-item>

      <form [formGroup]="updateForm" (submit)="updateUserInfo()" novalidate >
      <ion-item>
        <ion-label stacked>English Name (영어 이름)</ion-label>
        <ion-input formControlName="engName" type="engName" [class.invalid]="!updateForm.controls.engName.valid && updateForm.controls.engName.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!updateForm.controls.engName.valid && updateForm.controls.engName.dirty">
        <p>영어 이름을 입력하셔야 합니다.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Phone Number (휴대폰 번호)</ion-label>
        <ion-input formControlName="phone" type="phone" [class.invalid]="!updateForm.controls.phone.valid && updateForm.controls.phone.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!updateForm.controls.phone.valid && updateForm.controls.phone.dirty">
        <p>휴대폰 번호를 입력하셔야 합니다.</p>
      </ion-item>
    
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="{{userInfo.email}}" [class.invalid]="!updateForm.controls.email.valid && updateForm.controls.email.dirty">
        </ion-input>
      </ion-item>
      <!-- dirty의 뜻은 '상태가 바꼈니?' 이다-->
      <ion-item class="error-message" *ngIf="!updateForm.controls.email.valid && updateForm.controls.email.dirty">
        <p>이메일 양식을 제대로 입력해주세요!</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Account Bank Name (계좌 은행)</ion-label>
        <ion-input formControlName="accountBank" type="accountBank">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!updateForm.controls.accountBank.valid && updateForm.controls.accountBank.dirty">
        <p>은행이름은 한글로만 입력해주세요!</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Account Number (계좌 번호)</ion-label>
        <ion-input formControlName="accountNumber" type="accountNumber"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!updateForm.controls.accountNumber.valid && updateForm.controls.accountNumber.dirty">
        <p>숫자 또는 - 의 조합으로만 입력해주세요.</p>
      </ion-item>
      
      <ion-item no-lines text-center>
        <p>추가적인 변경을 원하시면 메일로 문의해 주시기 바랍니다.</p>
      </ion-item>
      <ion-row>
        <ion-col width-100 style="text-align: center">
          <button ion-button medium round color="primary" type="submit" style="margin-top: 15px" [disabled]="!updateForm.valid">
              변경하기 
          </button>
        </ion-col>
      </ion-row>
      </form>
</ion-content>
