<ion-menu [content]="content"  persistent="true">
  
    <ion-content class="sidemenu-content">
      <p class="sidemenu-userid"><ion-icon name="person"></ion-icon>&nbsp;&nbsp;{{user_id}}</p> 
      <ion-buttons right > 
        <button  class="sidemenu-button" menuClose icon-only (click)="setPage('SettingPage')">
          <ion-icon name="settings"></ion-icon>
        </button>
      </ion-buttons>
      <hr class="sidemenu-hr" style="background-color:#29B5EF">
      <ion-grid class="sidemenu-grid"  *ngFor = "let dates of dates_array">
        <div class="sidemenu-div" *ngFor = "let date of dates | DatePipe">
        &nbsp;&nbsp;꼬부기 {{date.length}} ({{date.roomParticipants.length}} / {{date.roomCapacity}})
        <ion-row class="sidemenu-row" justify-content-left padding-left style="border-top-color: white">
        {{date.roomDate}} &nbsp;&nbsp;|&nbsp;&nbsp; {{date.roomTime}}<br>
        {{date.roomDepart}} &nbsp;&nbsp; > &nbsp;&nbsp; {{date.roomDest}}
      <ion-buttons right > 
        <button  class="sidemenu-button2" menuClose icon-only (click)="Idontknow()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
      </ion-row>
        </div>
      </ion-grid>
      
      <ion-list class="sidemenu-list">
          <ion-list-header class="sidemenu-header"> <ion-icon name="ios-car"></ion-icon> &nbsp;&nbsp;택시 </ion-list-header>
          <button menuClose ion-item class="sidemenu-items" (click)="setPage('TaxiListPage')">조회</button>
          <button menuClose ion-item class="sidemenu-items" (click)="setPage('MakeRoomPage')">모집</button>
          <ion-list-header class="sidemenu-header"> <ion-icon name="car"></ion-icon>  &nbsp;&nbsp;카풀 </ion-list-header>
          <button menuClose ion-item class="sidemenu-items" (click)="goCarpoolListPage()">조회</button>
          <button menuClose ion-item class="sidemenu-items" (click)="goMakeCarpoolRoomPage()">모집</button>
          <ion-list-header class="sidemenu-header"> <ion-icon name="person"></ion-icon>&nbsp;&nbsp;마이페이지 </ion-list-header>
          <button menuClose ion-item class="sidemenu-items" (click)="setPage('RideHistoryPage')">탑승내역</button>
          <button menuClose ion-item class="sidemenu-items" (click)="setPage('PersonalInfoPage')">내정보수정</button>
          <ion-list-header class="sidemenu-header"> <ion-icon name="home"></ion-icon>  &nbsp;&nbsp;메인페이지 </ion-list-header>
          <button menuClose ion-item class="sidemenu-items" (click)="setPage('MainPage')">메인페이지</button>  
          <button menuClose ion-item class="sidemenu-items" (click)="logout()">로그아웃</button>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
  