// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.sidemenu-content{
  $fontColor: color($colors, secondary, base);

  font-family: "Noto Sans", "Noto Sans CJK KR";

  .sidemenu-userid{
    font-size: 16px;
    color: $fontColor;
    margin: 20px 0 10px 30px;
    font-size: 1.2em;
    display: flex;
    align-items: center;

    ion-icon {
      flex-grow: 1;
      margin-right: 6px;
    }

    span {
      flex-grow: 8;
    }

    button {
      flex-grow: 1;
      background-color: white;
      padding-right: 0;
      padding-left: 0;
      img {
        width: 20px;
        margin-right: 5px;
      }
    }
  }

  .sidemenu-hr{
    height: 2px;
    width: 90%;
    background-color: $fontColor;
  }

  .sidemenu-grid{
    width: 90%;

    .sidemenu-div{
      background-color: #2C88AD;
      color: white;
      border-radius: 6px;
      padding-top: 7.5px;
  
      .sidemenu-rtitle {
        margin-bottom: 3px;
        padding-left: 7.5px;
        font-size: 1em;
      }

      .sidemenu-row{
        display: flex;
        justify-content: center;
        background-color: $fontColor;
        border-radius: 5px;
        padding: 6px 0px 6px 14px;

        div {
          flex-grow: 8;
        }

        .sidemenu-outbtn{
          background-color: $fontColor;
          color: white;
          flex-grow: 1;
        }
      }
    }
  }
  
  .sidemenu-list{
    padding-left:20px;

    .sidemenu-header{
      font-size: 18px;
      margin-bottom: 20px;
      border-color: white;
      padding-left: 5px;
      margin: 0;
  
      img {
        width: 18px;
      }
    }
    
    .sidemenu-items{
      font-size: 14px;
      background-color: color($colors, back-gray, base);
      width: 80%;
      margin-bottom: 5px;
      margin-left: 10%;
  
      .item-inner {
        border: 0;
      }
  
      &:nth-of-type(2n) {
        margin-bottom: 20px;
      }
    }
  }
}
