<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button (click)='goBack()'>
          <ion-icon name = "ios-arrow-back"></ion-icon>
        </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

    <!-- <ion-title> 꼬부기 ({{room_participants.length}}/{{room_capacity}}) </ion-title> -->
    <!-- 방이름/인원 -->
  </ion-navbar>

  <!-- 방 정보 -->
  <ion-grid class="room-info">
    <ion-row>
      <ion-col justify-content-center padding-left>
        {{displayDate}} {{displayTime}}
        <p><b>{{roomObj.departure}} &nbsp; <ion-icon name="arrow-forward"></ion-icon> &nbsp; {{roomObj.destination}}</b></p>
      </ion-col>
      <ion-col col-auto>
        <ion-buttons right icon-only>
          <button ion-button (click)='quit()'>
              <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- 참여자 정보  -->
  <ion-grid>
    <ion-row>
      <ion-col class="users">
        <div class="user" *ngFor="let member of roomObj.participants; let i = index">
          <button ion-button class="user-name" (click)="show(i)" >{{ member }}</button>
          <button ion-button class="user-call" (click)="native(i, 1)"><ion-icon name="ios-call-outline"></ion-icon></button>
          <button ion-button class="user-mail" (click)="native(i, 2)"><ion-icon name="ios-mail-outline"></ion-icon></button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-list>

    <!--
    <ion-item *ngFor="let chat of chats | async; let last = last">
      {{chat.user_id}} : {{chat.content}}
      {{last ? scrollBottom() : ''}}
    </ion-item>
    -->

    <div class="message-wrap" *ngFor="let chat of chats | async; let last = last">
      <!-- 밑에 주석처리 되어있는 부분이 내가 말한 내용이면 오른쪽, 상대가 말한 내용이면 왼쪽 선택하게한다. -->
      <!-- <div *ngFor="let msg of msgList"
           class="message"
           [class.left]=" msg.userId === toUser.id "
           [class.right]=" msg.userId === user.id "> -->
      <div class="message right" *ngIf="chat.user_id == chat_user_id">
        <!-- <img class="user-img" [src]="msg.userAvatar" alt="" src=""> 이거는 프로필사진-->
        <div class="msg-detail">
          <div class="msg-content">
            <div class="msg-info">
              <p>
                <!-- 사용자 아이디, 메세지 작성시간 {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p> -->
                <ion-icon *ngIf="chat.user_id == room_host" name="star"></ion-icon>{{chat.user_id}}&nbsp;&nbsp;&nbsp;{{chat.date_time | slice:12:21}}</p>
            </div>
            <span class="triangle"></span>
            <p class="line-breaker">{{chat.content}}</p>
            <!-- {{msg.message}} -->
          </div>
        </div>
      </div>

      <div class="message left" *ngIf="chat.user_id != chat_user_id">
        <!-- <img class="user-img" alt="" src=""> -->
        <div class="msg-detail">
          <div class="msg-content">
            <div class="msg-info">
              <p>
                <!-- {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p> -->
                <ion-icon *ngIf="chat.user_id == room_host" name="star"></ion-icon>{{chat.user_name}}&nbsp;&nbsp;&nbsp;{{chat.date_time | slice:12:21}}</p>
            </div>
            <span class="triangle"></span>
            <p class="line-breaker">{{chat.content}}</p>
          </div>
        </div>
      </div>

      <!-- 입장/퇴장/택시비 정산 등등 공지 >
       <div class="message-notice">한동이 님이 퇴장하셨습니다.</div>
      -->
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input [(ngModel)]="chatContent" fixed type="text" (keyup.enter)="send(chatContent)" (click)="scrollBottom()"></ion-input>
    <button ion-button clear item-right (click)="send(chatContent)" (click)="scrollBottom()"> send </button>
  </ion-item>
</ion-footer>
