<ion-header *ngIf="room">
  <ion-navbar color="primary">
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- 방이름/인원 -->
    <ion-title> {{room.hostName}}방장 ({{room.currentPeople}}/{{room.capacity}}) </ion-title>
  </ion-navbar>

  <!-- 방 정보 -->
  <ion-grid id="room-info">
    <ion-row>
      <ion-col justify-content-center padding-left>
        {{displayDate}} {{displayTime}}
        <p><b>{{room.depart}} &nbsp; <ion-icon name="arrow-forward"></ion-icon>
           &nbsp; {{room.arrive}}
        </b></p>
        <p>{{room.departTime}}</p>
      </ion-col>
      <ion-col col-auto>
        <ion-buttons right icon-only>
          <!-- 먹튀 방지용으로 방나가기는 택시 이용 시간 직전까지만 사용 가능-->
          <button class="quit" *ngIf="room.departDate + room.departTime > dateServices.nowDate + dateServices.nowTime" 
          ion-button (click)='quit(room.transportType)'>
            <span>방나가기</span>
          </button>
          <!-- 택시 타고 난 이후 정산 기능-->
          <button class="payment" *ngIf="room.departDate + room.departTime <= dateServices.nowDate + dateServices.nowTime" 
          ion-button (click)='payment(room.transportType)' [hidden] ="room.transportType=='carpool' && userID != room.host">
              <span>정산하기</span>
            </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- 참여자 정보  -->
  <ion-grid id="part-info">
    <ion-row>
      <ion-col class="users">
        <div class="user" *ngFor="let member of participants; let i = index">
          <button class="user-name" [ngClass]="{'active': index==i}" (click)="show(i)" >{{ member.korName }}</button>
          <button class="user-call"><a href="tel:{{member.phone}}"><ion-icon name="ios-call-outline"></ion-icon></a></button>
          <button class="user-mail" (click)=sendSMS(member.phone)><ion-icon name="ios-mail-outline"></ion-icon></button>
        </div>
        <div class="user dumy" *ngIf="!participants.length">
          <button class="user-name"></button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-list>
    <div class="message-wrap" *ngFor="let chat of chats | async as Chats; let i = index;">
      <!-- 밑에 주석처리 되어있는 부분이 내가 말한 내용이면 오른쪽, 상대가 말한 내용이면 왼쪽 선택하게한다. -->
      <div class="message" [ngClass]="chat.userID == userID ? 'right' : (chat.userID != 'CRA' ? 'left' : 'testing')">
        <!-- 한 유저의 연속된 메시지는 첫 메시지만 이름 띄움 -->
        <div class="user-info" *ngIf="chat.userID != 'CRA' && (i == 0 ? true : Chats[i-1].userName != chat.userName)">
          <img *ngIf="chat.userID == room.host" src="assets/img/crown_gold.png" alt="Host">{{chat.userName}}
        </div>
        <div class="msg-content">
          <!-- 디자인상으로 왼쪽 오른쪽 span태그의 위치가 달라져서 똑같은 태그 반복 -->
          <span *ngIf="chat.userID == userID">{{chat.dateTime | DatePipe}}</span>
          <div class="msg-info" [ngClass]="{'notification': chat.userID == 'CRA'}">
            {{chat.content}}
          </div>
          <span *ngIf="chat.userID != 'CRA' && chat.userID != userID ">{{chat.dateTime | DatePipe}}</span>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <form (ngSubmit)="send()">
    <ion-item>
      <ion-input type="text" name="contents" [(ngModel)]="chatContent" fixed transportType="text" ></ion-input>
      <button type="submit" ion-button clear item-right > send </button>
    </ion-item>
  </form>
</ion-footer>
