page-chatroom {
  $userBackgroundColor: color($colors, secondary, base);
  $toUserBackgroundColor: white;

  .scroll-content {
    background-color: #f5f5f5;
  }

  .button-md {
    box-shadow: none;
  }

  #room-info{
    background-color: #FFFFFF;
    border-bottom: solid 2px #ddd9d9;
    padding: 14px;
    text-align: center;
    p {
      margin: 2px;
    }
  }

  #part-info {
    overflow-x: scroll;
    border-bottom: solid 2px #ddd9d9;
  }

  .users {
    display: flex;

    .user {
      display: flex;
      justify-content: center;
      background-color: color($colors, primary, base);
      border-radius: 45px;
      margin-left: 10px;

      &:first-child button {
        display: flex;
      }

      button {
        padding: 0 0.8em;
        margin: 4px;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        justify-content: center;

        height: 45px;
        background-color: white;
        color: color($colors, primary, base);
        border-radius: 23px;
        font-size: 1.5em;
        font-weight: bold;
      }

      .user-name {
        font-size: 15px;

        &.active ~ button {
          display: inherit;
        }
      }

      .user-call {
        display: none;
        margin: 4px 2px;
        width: 45px;

      }

      .user-mail {
        display: none;
        margin: 4px 2px;
        margin-right: 4px;
        width: 45px;
      }
    }
  }

  .message-wrap {
    padding: 0 10px;
    .message {
      display: flex;
      flex-direction: column;
      padding: 7px 0;
      color: $userBackgroundColor;

      .notification {
        text-align: center;
        max-width: 100% !important;
        color: white;
        background-color: color($colors, semi-gray, base);
        border: 1px solid color($colors, light-white, base);
      }
      
      .user-info {
        font-weight: bold;
        font-size: 15px;
        
        img {
          width: 15px;
          margin-right: 5px;
        }
      }

      .msg-info {
        padding: 10px;
        border-radius: 20px;
        font-size: 1em;
        max-width: 60%;
      }
      
      &.right {
        .user-info {
          text-align: right;
          margin: 0 10px 5px 0;
        }

        .msg-content {
          display: flex;
          justify-content: flex-end;

          span {
            display: flex;
            align-items: flex-end;
          }

          .msg-info {
            margin-left: 10px;
            background-color: $userBackgroundColor;
            color: white;
          }
        }
      }

      &.left {
        color: black;

        .user-info {
          margin: 0 0 5px 10px;
        }

        .msg-content {
          display: flex;
          justify-content: flex-start;

          span {
            display: flex;
            align-items: flex-end;
          }

          .msg-info {
            margin-right: 10px;
            background-color: $toUserBackgroundColor;
            border: 1px solid color($colors, light-white, base);
          }
        }
      }
    }
  }
}
