<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>i-Taxi >> 탑승내역조회</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf = "rideHistory.length != 0">
    <ion-grid>
      <ion-item-group *ngFor = "let room of rideHistory | async">
        <ion-item-divider color="light" (click)="goChatroom(room)">
          <ion-row>
            <ion-col col-3>
              <p>{{room.departure_date}}</p>
              <p>{{room.departure_time}}</p>
            </ion-col>
            <ion-col col-7>
              <p>{{room.departure}}</p>
              <p>>{{room.destination}}</p>
            </ion-col>
            <ion-col col-2>
              <p>{{room.currentPeople}} / {{room.capacity}}</p>
              <p>참여중</p>
            </ion-col>
          </ion-row>
        <div class="button-effect"></div>
        </ion-item-divider>
      </ion-item-group>
    </ion-grid>
  </div>
</ion-content>
