<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chat Room List</ion-title>
    <button ion-button clear small (click)="createRoom()">
      create
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let chatroom of chatrooms | async; let last = last" (click)="goChatroom($event, chatroom)">
      출발지: {{chatroom.departure}}
      <div class="item-note" item-end>
        도착지 : {{chatroom.destination}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
