<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      회원가입
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="procedure">
      <ion-segment-button value="terms" [disabled]=termsFlag>
        약관확인
      </ion-segment-button>
      <ion-segment-button value="info" [disabled]=infoFlag>
        정보입력
      </ion-segment-button>
      <ion-segment-button value="complete" [disabled]=completeFlag>
        가입완료
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="procedure">

    <div *ngSwitchCase="'terms'">
      <div class="wrap">
        <ion-card class="terms_content">
          longtext
        </ion-card>
        <div ion-item no-lines class="agree_check">
          <ion-label>약관을 모두 읽었으며 동의합니다.</ion-label>
          <ion-checkbox [(ngModel)]='firstChecking' color="primary" checked="false"></ion-checkbox>
        </div>
        <ion-card class="terms_content">
          longtext
        </ion-card>
        <div ion-item no-lines class="agree_check">
          <ion-label>약관을 모두 읽었으며 동의합니다.</ion-label>
          <ion-checkbox [(ngModel)]='secondChecking' color="primary" checked="false"></ion-checkbox>
        </div>
        <button ion-button medium round color="primary" [disabled]="!firstChecking || !secondChecking" round (click)="InfoFlagUp()">
            다음단계
          </button>
      </div>
    </div>

    <form [formGroup]="signupForm" (submit)="signupUser()" novalidate *ngSwitchCase="'info'">
      <ion-item>
        <ion-label stacked>이름</ion-label>
        <ion-input formControlName="name" type="name" placeholder="최효은"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>학번</ion-label>
        <ion-input formControlName="studentID" type="studentID" placeholder="21000763" [class.invalid]="!signupForm.controls.studentID.valid && signupForm.controls.studentID.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.studentID.valid && signupForm.controls.studentID.dirty">
          <p>학번 양식을 제대로 입력해주세요!</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>전화번호</ion-label>
        <ion-input formControlName="phoneNumber" type="phoneNumber" placeholder="010-7766-2016" [class.invalid]="!signupForm.controls.phoneNumber.valid && signupForm.controls.phoneNumber.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.phoneNumber.valid && signupForm.controls.phoneNumber.dirty">
          <p>전화번호 양식을 제대로 입력해주세요!</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>이메일</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
        <p>이메일 양식을 제대로 입력해주세요!</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>비밀번호</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
        <p>최소 6글자 이상의 비밀번호를 입력하시오.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>비밀번호 확인</ion-label>
        <ion-input formControlName="password2" type="password" placeholder="Repeat password here" [class.invalid]="!signupForm.controls.password2.valid && signupForm.controls.password2.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password2.valid && signupForm.controls.password2.dirty">
        <p>비밀번호가 일치 하지 않습니다. 확인해주세요.</p>
      </ion-item>
      <!-- 이거를 제출 버튼 옆에다가 놔두면 좋겠다.
      <button ion-button medium round style="margin-top: 15px" (click)="TermFlagUp()">약관 확인</button>
      -->
      <button ion-button medium round type="submit" style="margin-top: 15px" [disabled]="!signupForm.valid" (click)="CompleteFlagUp()"> 가입하기 </button>
      </form>
    <div *ngSwitchCase="'complete'">
      <div class="wrap">
        <ion-card class="terms_content">
          회원가입이 완료되었습니다
        </ion-card>
        <button ion-button medium round color="primary" style = "margin-top: 15px" (click)="goLoginPage()">
          로그인하기
        </button>
      </div>
    </div>
  </div>
</ion-content>
