<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      회원가입
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="procedure">
      <ion-segment-button value="terms" [disabled] = termsDisable (click)='termsActive()'>
        약관확인
      </ion-segment-button>
      <ion-segment-button value="info" [disabled] = infoDisable>
        정보입력
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="procedure">
    <!--****************************************************************
        ***************************  약관  ******************************
        ****************************************************************-->
    <div *ngSwitchCase="'terms'">
      <div class="wrap">
        <ion-card class="terms_content">
          <pre>{{text1}}</pre>
        </ion-card>
        <div ion-item no-lines class="agree_check">
          <ion-label>약관을 모두 읽었으며 동의합니다.</ion-label>
          <ion-checkbox [(ngModel)]='firstChecking' color="primary" checked="false"></ion-checkbox>
        </div>
        <ion-card class="terms_content">
          <pre>{{text2}}</pre>
        </ion-card>
        <div ion-item no-lines class="agree_check">
          <ion-label>약관을 모두 읽었으며 동의합니다.</ion-label>
          <ion-checkbox [(ngModel)]='secondChecking' color="primary" checked="false"></ion-checkbox>
        </div>
        <button ion-button medium round color="primary" [disabled]="!firstChecking || !secondChecking" round (click)="allAvail()">
          다음단계
        </button>
      </div>
    </div>
    <!--****************************************************************
        *************************Info Stage*****************************
        ****************************************************************-->
    <div *ngSwitchCase="'info'">
      <ion-item>
        <ion-label stacked>StudentID (학번)</ion-label>
        <ion-label >{{userInfo.studentID}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label stacked>Korean Name (한글 이름)</ion-label>
        <ion-label>{{userInfo.korName}}</ion-label>
      </ion-item>

      <form [formGroup]="signUpForm" (submit)="signUpUser()" novalidate >
      <ion-item>
        <ion-label stacked>English Name (영어 이름)</ion-label>
        <ion-input formControlName="engName" type="engName" [class.invalid]="!signUpForm.controls.engName.valid && signUpForm.controls.engName.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signUpForm.controls.engName.valid && signUpForm.controls.engName.dirty">
        <p>영어와 ,-_'"`외의 특수문자는 사용하시면 안 됩니다.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Phone Number (휴대폰 번호)</ion-label>
        <ion-input formControlName="phone" type="phone" [class.invalid]="!signUpForm.controls.phone.valid && signUpForm.controls.phone.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signUpForm.controls.phone.valid && signUpForm.controls.phone.dirty">
        <p>총 11-12자리 번호와 - 문자 외에는 사용하시면 안 됩니다.</p>
      </ion-item>
    
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="{{userInfo.email}}" [class.invalid]="!signUpForm.controls.email.valid && signUpForm.controls.email.dirty">
        </ion-input>
      </ion-item>
      <!-- dirty의 뜻은 '상태가 바꼈니?' 이다-->
      <ion-item class="error-message" *ngIf="!signUpForm.controls.email.valid && signUpForm.controls.email.dirty">
        <p>이메일 양식에 숫자와 _.- 외의 특수문자는 사용하실 수 없습니다.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Account Bank Name (계좌 은행)</ion-label>
        <ion-input formControlName="accountBank" type="accountBank" placeholder="추후에 입력하셔도 됩니다.">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signUpForm.controls.accountBank.valid && signUpForm.controls.accountBank.dirty">
        <p>은행이름은 한글로만 입력해주세요!</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Account Number (계좌 번호)</ion-label>
        <ion-input formControlName="accountNumber" type="accountNumber" placeholder="추후에 입력하셔도 됩니다."></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signUpForm.controls.accountNumber.valid && signUpForm.controls.accountNumber.dirty">
        <p>숫자 또는 - 의 조합으로만 입력해주세요.</p>
      </ion-item>

      <ion-row>
        <ion-col width-100 style="text-align: center">
            <button ion-button medium round color="primary" type="submit" style="margin-top: 15px" [disabled]="!signUpForm.valid">
                가입하기 
            </button>
        </ion-col>
      </ion-row>
            
      </form>
    </div>
  </div>
</ion-content>
